    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">436S</h1>
                </section>

            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><a href="#/main">Home</a></li>
                    <li><a href="#/recent">Recents</a></li>
                    <li><a href="#/favorites">Favorites</a></li>
                    <li><a href="#/setting">Settings</a></li>
                </ul>
            </aside>

            

<div id="map" class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.7744002798786!2d-74.01223288455847!3d41.00831077930076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2ef6ce6b74b11%3A0xcf4a7f30f27ed1a5!2s406+Rivervale+Rd%2C+Rivervale%2C+NJ+07675!5e0!3m2!1sen!2sus!4v1453770116115" class="small-12 columns" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="row">
    <a href="#" class="small-12 columns bottomButton">Check In</a>
</div>

    <a class="exit-off-canvas"></a>
    </div>
</div>
