    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">Favorites</h1>
                </section>

            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><a href="#/main">Home</a></li>
                    <li><a href="#/recent">Recents</a></li>
                    <li><a href="#/favorites">Favorites</a></li>
                    <li><a href="#/setting">Settings</a></li>
                </ul>
            </aside>

<a href="#/bus">
	<div class="row results">
		<div class="small-12 columns">
			<div class="row">
				<h4 class="small-9 columns">436S</h4>
				<h5 class="small-3 columns">12:34 p.m.</h5>
			</div>
			<div class="row">
				<p class="small-12 columns">Address of where the bus is</p>
			</div>
		</div>
	</div>
</a>

<a href="#/bus">
	<div class="row results">
		<div class="small-12 columns">
			<div class="row">
				<h4 class="small-9 columns">436S</h4>
				<h5 class="small-3 columns">12:34 p.m.</h5>
			</div>
			<div class="row">
				<p class="small-12 columns">Address of where the bus is</p>
			</div>
		</div>
	</div>
</a>

<a href="#/bus">
	<div class="row results">
		<div class="small-12 columns">
			<div class="row">
				<h4 class="small-9 columns">436S</h4>
				<h5 class="small-3 columns">12:34 p.m.</h5>
			</div>
			<div class="row">
				<p class="small-12 columns">Address of where the bus is</p>
			</div>
		</div>
	</div>
</a>

		<a class="exit-off-canvas"></a>
    </div>
</div>