<div class="aboutBody animated fadeInUp">
	<h1>About Us</h1>

	<p>Picture a 23-year-old young woman carrying a baby in one hand and a tray of Baklava in the other. That was my Mother taking her boss one of her specialty pastries and that was me gazing at what I soon found out was my destiny. The name was created to honor our Grandmother, Berjuhi Bakalian. My Grandmother passed her recipes down to my Mother, who passed it down to me.</p>
</div>
 
<img src="http://i.imgur.com/RuwRkGK.jpg" alt="Christine Kutlu Picture" width="400" height="423" id="kutluPic" class="animated fadeInRight">