<img src="../img/wmb-letter-logo-02.png" class="middleLogo">
  <div class="animated fadeInUp">

    <div class="row">
      <a href="#/search">
        <div class="small-6 columns block">
          <img src="../img/icons-01.png" class="icons" height="110" width="110">
          <h2>Find my bus</h2>
        </div>
      </a>

    <a href="#/favorites">
      <div class="small-6 columns block">
        <img src="../img/icons-02.png" class="icons" height="110" width="110">
        <h2>Favorites</h2>
      </div>
    </a>
    </div>

  <a href="#/recent">
    <div class="row">
      <div class="small-6 columns block">
        <img src="../img/icons-03.png" class="icons" height="110" width="110">
        <h2>Recent</h2>
      </div>
  </a>

    <a href="#/setting">
      <div class="small-6 columns block">
        <img src="../img/icons-04.png" class="icons" height="110" width="110">
        <h2>Setting</h2>
      </div>
    </a>
    </div>
  
  </div>