	    <div class="off-canvas-wrap">
	        <div class="inner-wrap">
	            <nav class="tab-bar">
	                <section class="left-small">
	                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
	                </section>

	                <section class="middle tab-bar-section">
	                    <h1 class="title">Find my bus</h1>
	                </section>

	            </nav>

	            <aside class="left-off-canvas-menu">
	                <ul class="off-canvas-list">
		                <li><a href="#/main">Home</a></li>
	                    <li><a href="#/recent">Recents</a></li>
	                    <li><a href="#/favorites">Favorites</a></li>
	                    <li><a href="#/setting">Settings</a></li>
	                </ul>
	            </aside>
	            
        <section class="main-section">
            <div class="small-12 columns">
            	<h1>Where are you going?</h1>
               <div id="myLocation">
               		<img src="../img/location.svg" id="locationIcon" width="50" height="50">
               		<h2>Use my location</h2>	
               </div>
            </div>
        </section>

	<div id="or">
		<h3>OR</h3>
	</div>

	<form ng-hide="edit">
		<div class="row">
			<div class="small-12 columns">
				<input class="small-12 columns" placeholder="Street Address"></input>
			</div>
		</div>

		<div class="row">
			<div class="small-6 columns">
				<input placeholder="city"></input>
			</div>
			<div class="small-6 columns">
				<select>
		          <option value="default">Choose State</option>
		          <option value="NY">New york</option>
		          <option value="FL">Florida</option>
		          <option value="NJ">New jersey</option>
		        </select>
			</div>
		</div>
	</form>

<div class="row">
	<a href="#/results" class="small-12 columns bottomButton">Find Bus</a>
</div>


<a class="exit-off-canvas"></a>
	        </div>
	    </div>
	</div>