<div class="secondaryBody row animated fadeInUp">
	<h1>Contact</h1>
	<div id="contactBanner" class="large-12 columns">
		<h4>Christine Kutlu</h4>
		<p>1st and 3rd THURSDAY at the River Vale Farmers' Market</p>
		<p>406 Rivervale Road</p>
		<p>River Vale, 07657 (Town Hall Parking lot)</p>
		<img src="http://i.imgur.com/RuwRkGK.jpg" alt="Christine Kutlu" id="smallKutlu" height="150" width="133">
	</div>

	<div id="customerInput">
		<input type="text" id="firstName" placeholder="First Name">
		<input type="text" id="lastName" placeholder="Last Name">
		<input type="text" id="email" placeholder="Email Address">
		<textarea rows="4" type="text" id="comment" placeholder="Comment/Questions"></textarea>
		<button id="submit">Submit</button>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.7744002798786!2d-74.01223288455847!3d41.00831077930076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2ef6ce6b74b11%3A0xcf4a7f30f27ed1a5!2s406+Rivervale+Rd%2C+Rivervale%2C+NJ+07675!5e0!3m2!1sen!2sus!4v1453770116115" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>