body {
	background-image: 
	radial-gradient(
       #2999E2,
       #0071BC
    );

    background-position: fixed;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	margin: 5% 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

h2, h3{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

h4 {
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

h5 {
	font-size: .90em;
}

p {
	margin-bottom: 10px;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2em;
}

.bottomButton{
	background-color: #FCEE21;
	color: black;
	margin-top: 5%;
	padding: 2% 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

.bottomButton:hover {
	background-color: #A59823;
	color: black;
}

#logo {
	padding: 5px;
	margin-top: 5%;
}

.middleLogo {
	margin: 10% 35%;
}

#fbButton {
	width: 90%;
	margin: 5%;
	margin-top: 20%;
	background-color: #252EA0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

.block {
	background-color: white;
	height: 216px;
}

.block:hover {
	background-color: #FCEE21;
}

.icons {
	margin: 10% 20%;
}

/*searchBus page*/
#myLocation {
	background-color: white;
	padding-bottom: 1px;
}

#myLocation:hover{
	background-color: #D8D8D6;
	cursor: pointer;
}

#locationIcon {
	margin: 2% 45%;
}

#or{
	margin: 5%;
}

/******** RESULTS PAGE ********/
.results {
	background-color: white;
	margin-top: 3%;
}

.results:hover {
	background-color: #D8D8D6;
}

/******** BUS PAGE ********/
#map {
	margin: 4% 0;
}

/******** SETTINGS PAGE ********/
.less-margin {
	margin: 0 0 2% 0;
}

.white{
	color: white;
}